<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UserPage</title>

    @*custome local CSS*@
    <link rel="stylesheet" href="~/Content/assets/css/index.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    @*Some Extra Links*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <script src="https://kit.fontawesome.com/3df9cedb79.js" crossorigin="anonymous"></script>

    <!-- favicon -->
    <link rel="icon" href="https://opensource.propeller.in/assets/images/favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />

    <!-- Example docs (CSS for helping component example file)-->
    <link href="https://opensource.propeller.in/docs/css/example-docs.css" type="text/css" rel="stylesheet" />

    <!-- Propeller card (CSS for helping component example file) -->
    <link href="https://opensource.propeller.in/components/card/css/card.css" type="text/css" rel="stylesheet" />

    <!-- Propeller typography -->
    <link href="https://opensource.propeller.in/components/typography/css/typography.css" type="text/css" rel="stylesheet" />

    <!-- Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://opensource.propeller.in/components/icons/css/google-icons.css" type="text/css" rel="stylesheet" />

    <!-- Propeller dropdown -->
    <link href="https://opensource.propeller.in/components/dropdown/css/dropdown.css" type="text/css" rel="stylesheet" />

    <!-- Propeller navbar -->
    <link href="https://opensource.propeller.in/components/navbar/css/navbar.css" type="text/css" rel="stylesheet" />

    <!-- Propeller button  -->
    <link href="https://opensource.propeller.in/components/button/css/button.css" type="text/css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Hello User</h2>
            <ul>
                <li style="display: flex; align-items: center;">
                    <i class="fas fa-user-alt" style="margin-right: 5px; color: #ffffff;"></i>
                    @Html.ActionLink("Profile", "UserProfile", "User", new { area = "" }, new { @class = "nav-link myCenter" })
                </li>
                <li style="display: flex; align-items: center;">
                    <i class="fab fa-hotjar" style="margin-right: 5px; color: #ffffff;"></i>
                    @Html.ActionLink("Manage Vehicle", "GetOrderList", "User", new { area = "" }, new { @class = "nav-link myCenter" })
                </li>
                <li style="display: flex; align-items: center;">
                    <i class="fas fa-question" style="margin-right: 5px; color: #ffffff;"></i>
                    @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link myCenter" })
                </li>
            </ul>
            <div class="social_media">
                <a href="#"><i class="fab fa-discord" style="color: #ffffff;"></i></a> @*alt color #bdb8d7*@
                <a href="#"><i class="fab fa-reddit-alien " style="color: #ffffff;"></i></a>
                <a href="#"><i class="fab fa-instagram" style="color: #ffffff;"></i></a>
            </div>
            <div class="overlay-text-bottom">
                <p>&copy; @DateTime.Now.Year - JourneyJoy</p>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <!-- Jquery js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap js -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Propeller Global js -->
    <script src="https://opensource.propeller.in/components/global/js/global.js"></script>

    <!-- Propeller Sidebar js -->
    <script type="text/javascript" language="javascript" src="https://opensource.propeller.in/components/sidebar/js/sidebar.js"></script>

    <!-- Propeller Dropdown js -->
    <script type="text/javascript" language="javascript" src="https://opensource.propeller.in/components/dropdown/js/dropdown.js"></script>

    <!-- Propeller ripple effect js -->
    <script type="text/javascript" language="javascript" src="https://opensource.propeller.in/components/button/js/ripple-effect.js"></script>

    <!-- Toaster js -->
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
            $(document).ready(function () {
                if ('@TempData["message"]' == "LogInSuccess") {
                    toastr.success('User LogIn Successful', 'Success');
                    //toastr.error('Action failed changed....', 'ActionName');
                    //toastr.warning('Action warning changed....', 'ActionName');
                    //toastr.info('Action info changed....', 'ActionName');
                }
                else { }
            });
    </script>
</body>
</html>