<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>JourneyJoy</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/Assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/Assets/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="~/Content/Assets/css/animated.css">
    <link rel="stylesheet" href="~/Content/Assets/css/owl.css">
    <link rel="stylesheet" href="~/Content/Assets/css/_layout.css">

    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    @*POPUP CDN*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        @*<a href="index.html" class="logo"></a>*@
                        <ul class="nav">
                            <li><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
                            <li><a href="@Url.Action("Category","Home")">Category</a></li>
                            <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                            @if (@Session["UserName"] != null)
                            {
                                <li>
                                    <div class="main-white-button">
                                        <a href="@Url.Action("DashBoard","User")"><i class="fa fa-user"></i> Profile</a>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <div class="main-white-button">
                                        <a href="@Url.Action("LogInRegister","LogInRegister")"><i class="fa fa-user"></i> Log In / Register</a>
                                    </div>
                                </li>
                            }
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about">
                        <div class="logo">
                            <img src="assets/images/black-logo.png" alt="JourneyJoy">
                        </div>
                        <p>Discover the freedom of the open road with our diverse fleet of vehicles, designed to cater to all your travel needs. Whether you're embarking on a weekend getaway or a cross-country adventure, JourneyJoy has you covered.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="helpful-links">
                        <h4>Helpful Links</h4>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <ul>
                                    <li><a href="@Url.Action("Category","Home")">Categories</a></li>
                                    <li><a href="#">Reviews</a></li>
                                    <li><a href="#">Listing</a></li>
                                    <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="https://www.adventurevisiontreks.com/trip/car-booking-in-nepal">Useful Sites</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-us">
                        <h4>Contact Us</h4>
                        <p>Nepal | Kathmandu </p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>
                            Copyright © 2024 JourneyJoy. All Rights Reserved.
                            <br>
                            Design:
                        <p>SHINIGAMI</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Assets/js/owl-carousel.js"></script>
    <script src="~/Content/Assets/js/animation.js"></script>
    <script src="~/Content/Assets/js/imagesloaded.js"></script>
    <script src="~/Content/Assets/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>

    <!-- Main JS-->
    <script src="~/Content/Assets/js/main.js"></script>

    <script>
         $(document).ready(function () {
             debugger;
             var renderData = @Html.Raw(Json.Encode(ViewData["renderdata"]));
             if (renderData !== null && typeof renderData === 'object') {
                 var Icon = renderData.Icon;
                 var Message = renderData.Message;
             }

             if (Message != null && Message != "" && Message.length > 0) {

                 const Toast = Swal.mixin({
                     toast: true,
                     position: "top-end",
                     showConfirmButton: false,
                     timer: 3000,
                     timerProgressBar: true,
                     didOpen: (toast) => {
                         toast.onmouseenter = Swal.stopTimer;
                         toast.onmouseleave = Swal.resumeTimer;
                     }
                 });
                 Toast.fire({
                     icon: Icon == "true" ? "success" : "error",
                     title: Message
                 });
             }
             });
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.image-upload-wrap').hide();

                    $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();

                    $('.image-title').html(input.files[0].name);
                };

                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
        }
        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });
    </script>
</body>
</html>