@model JourneyJoy.Models.LogInResponseModel

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h6>Hello @Session["UserName"] !</h6>
                    <fh2>Welcome</fh2>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .inmiddle {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 10px;
    }

    input:disabled {
        background: #dddddd !important;
    }

    input:enabled {
        background: none !important;
    }
</style>
<div class="category-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu inmiddle">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/search-icon-01.png" alt=""><h4>Profile</h4></span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/Bookinglist.png" alt=""><h4>Bookings</h4></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="~/Content/Assets/images/search-icon-01.png" alt=""><h4>@Session["UserName"] Profile</h4></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="main-white-button">
                                                                        <a href="#" id="updateProfileButton"><i class="fa fa-plus"></i> Update Profile</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="description">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <div id="map">
                                                                        <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-9 align-self-center">
                                                                    @using (Html.BeginForm("UserLogin", "LogInRegister", FormMethod.Post, new { @Id = "contact" }))
                                                                    {
                                                                        @Html.AntiForgeryToken();
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    <input type="text" name="Username" id="Username" placeholder="Username" autocomplete="on" required disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    <input type="email" name="Email" id="Email" placeholder="Email" autocomplete="on" required disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <fieldset>
                                                                                    <input type="text" name="CurrentAddress" id="MobileNumber" placeholder="Your Mobilenumber" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    <input type="text" name="Country" id="Country" placeholder="Your Country" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    <input type="text" name="City" id="City" placeholder="Your City" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <fieldset>
                                                                                    <input type="text" name="DriverLicenceNumber" id="DriverLicenceNumber" placeholder="Your DriverLicenceNumber" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            @*<div class="col-lg-12">
                                                                                    <fieldset>
                                                                                        <textarea type="text" name="Bio" id="Bio" placeholder="Your Bio" required=""> </textarea>
                                                                                    </fieldset>
                                                                                </div>*@
                                                                            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                                                                                <fieldset>
                                                                                    <button type="submit" id="form-submit" class="main-button "><i class="fa fa-paper-plane"></i> Update Profile</button>
                                                                                </fieldset>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="~/Content/Assets/images/Bookinglist.png" alt=""><h4>Your Bookings</h4></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        @if (ViewBag.UserVehiclesLists != null)
                                                        {
                                                            <ul>
                                                                @foreach (var x in ViewBag.UserVehiclesLists)
                                                                {
                                                                    <div class="col-lg-12">
                                                                        <div class="owl-carousel owl-listing">
                                                                            <div class="item">
                                                                                <div class="row">
                                                                                    <div class="col-lg-12">
                                                                                        <div class="listing-item">
                                                                                            <div class="left-image">
                                                                                                <a href="#"><img src="~/Content/Assets/images/car2.jpg" alt=""></a>
                                                                                            </div>
                                                                                            <div class="right-content align-self-center">
                                                                                                <a href="#"><h4>@x.VehicleType</h4></a>
                                                                                                <h6>by: @x.BookingStatus</h6>
                                                                                                <span class="price">
                                                                                                    <div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> @x.TotalPrice / included tax
                                                                                                </span>
                                                                                                <span class="details">Details:@x.Detail</span>
                                                                                                <span class="info">
                                                                                                    <img src="assets/images/listing-icon-02.png" alt=""> @x.TotalMilage 2 Milage<br>
                                                                                                    <img src="assets/images/listing-icon-03.png" alt=""> @x.CarCapacity 3 Capicity
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="main-white-button">
                                                                            <a href="#"><i class="fa fa-plus"></i> PayNow</a>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </ul>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#form-submit').hide();
        });

        document.getElementById("updateProfileButton").addEventListener("click", function () {
            event.preventDefault(); // Prevent the default action (navigating to the "#" anchor)
            var inputField = document.getElementById("Username");
            var inputField2 = document.getElementById("Email");
            var inputField3 = document.getElementById("MobileNumber");
            var inputField9 = document.getElementById("DriverLicenceNumber");
            var inputField10 = document.getElementById("Country");
            var inputField11 = document.getElementById("City");
            var inputField12 = document.getElementById("CurrentAddress");
            inputField.disabled = !inputField.disabled;
            inputField2.disabled = !inputField2.disabled;
            inputField3.disabled = !inputField3.disabled;
            inputField9.disabled = !inputField9.disabled;
            inputField10.disabled = !inputField10.disabled;
            inputField11.disabled = !inputField11.disabled;
            inputField12.disabled = !inputField12.disabled;
            $('#form-submit').show();
        });
    </script>
}
