@model IEnumerable<JourneyJoy.Models.VehicleTypeModel>
@{
    ViewBag.Title = "Vehicle List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading" style="background-image: url(https://r4.wallpaperflare.com/wallpaper/143/331/609/car-nissan-nissan-gtr-r34-nissan-skyline-gt-r-r34-wallpaper-83aa43ca2825ac0db862fe13d148c201.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h6>Check Out Our various cars</h6>
                    <h2>Item listings of Different Categories</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="listing-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="menu">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <a href="@Url.Action("VehicleList", "SearchedList", new { type = "Bike" })">
                                                <div class="thumb">
                                                    <span class="icon">
                                                        <img src="~/Content/Assets/images/bike.png" alt="Bike">
                                                    </span>
                                                    Bike
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <a href="@Url.Action("VehicleList", "SearchedList", new { type = "Van" })">
                                                <div class="thumb">
                                                    <span class="icon">
                                                        <img src="~/Content/Assets/images/van.png" alt="van">
                                                    </span>
                                                    Van
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <a href="@Url.Action("VehicleList", "SearchedList", new { type = "Cars" })">
                                                <div class="thumb">
                                                    <span class="icon">
                                                        <img src="~/Content/Assets/images/car.png" alt="Cars">
                                                    </span>
                                                    Cars
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="last-thumb">
                                        <a href="@Url.Action("VehicleList", "SearchedList", new { type = "Bus" })">
                                            <div class="thumb">
                                                <span class="icon">
                                                    <img src="~/Content/Assets/images/Bus.png" alt="Bus">
                                                </span>
                                                Bus
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <ul class="nacc">
                                    <!-- first category listing of items -->
                                    @if (ViewBag.VehicleType == "Bike")
                                    {
                                        if (Model != null)
                                        {
                                            if (Model.Count() > 0)
                                            {
                                                foreach (var x in Model)
                                                {
                                                    <li class="active">
                                                        <div>
                                                            <div class="col-lg-12">
                                                                <div class="owl-carousel owl-listing">
                                                                    <div class="item">
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <div class="listing-item">
                                                                                    <div class="left-image">
                                                                                        <a href="#"><img src="~/Content/Assets/images/car2.jpg" alt=""></a>
                                                                                        <div class="hover-content">
                                                                                            <div class="main-white-button">
                                                                                                <a href="@Url.Action("BookVehicle", "Booking", new { VID = x.VehicleID })"><i class="fa fa-eye"></i> Book Now</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="right-content align-self-center">
                                                                                        <a href="#"><h4>@x.Title</h4></a>
                                                                                        <h6>Owner: @x.UserName</h6>
                                                                                        <span class="price">
                                                                                            <div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> @x.TotalPrice / included tax
                                                                                        </span>
                                                                                        <span class="details">Details:@x.Detail</span>
                                                                                        <span class="info">
                                                                                            <img src="~/Content/Assets/images/seats.png" alt=""> @x.VehicleCapacity<br>
                                                                                            <img src="~/Content/Assets/images/mileage.png" alt=""> @x.TotalMilage Kmpl/kg<br>
                                                                                            <img src="~/Content/Assets/images/seats.png" alt=""> @x.TotalSeats
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="left-image">
                                                <a href="#"><img src="~/Content/Assets/images/gadinotfound.jpg" alt=""></a>
                                                <div class="hover-content">
                                                </div>
                                            </div>
                                            <div style="text-align: center; margin-top: 20px;">
                                                <button type="button" onclick="window.history.back();" class="btn btn-secondary btn-group-lg main-button"><i class="fa fa-arrow-left"></i> Go Back</button>
                                            </div>
                                        }
                                    }

                                    <!-- second category listing of items -->
                                    @if (ViewBag.VehicleType == "Van")
                                    {
                                        if (Model != null)
                                        {
                                            if (Model.Count() > 0)
                                            {
                                                foreach (var x in Model)
                                                {
                                                    <li class="active">
                                                        <div>
                                                            <div class="col-lg-12">
                                                                <div class="owl-carousel owl-listing">

                                                                    <div class="item">
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <div class="listing-item">
                                                                                    <div class="left-image">
                                                                                        <a href="#"><img src="~/Content/Assets/images/car2.jpg" alt=""></a>
                                                                                        <div class="hover-content">
                                                                                            <div class="main-white-button">
                                                                                                <a href="@Url.Action("BookVehicle", "Booking", new { VID = x.VehicleID })"><i class="fa fa-eye"></i> Book Now</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="right-content align-self-center">
                                                                                        <a href="#"><h4>@x.Title</h4></a>
                                                                                        <h6>by: @x.UserName</h6>
                                                                                        <span class="price">
                                                                                            <div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> @x.TotalPrice / included tax
                                                                                        </span>
                                                                                        <span class="details">Details:@x.Detail</span>
                                                                                        <span class="info">
                                                                                            <img src="~/Content/Assets/images/seats.png" alt=""> @x.VehicleCapacity<br>
                                                                                            <img src="~/Content/Assets/images/mileage.png" alt=""> @x.TotalMilage Kmpl/kg<br>
                                                                                            <img src="~/Content/Assets/images/seats.png" alt=""> @x.TotalSeats
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="left-image">
                                                <a href="#"><img src="~/Content/Assets/images/gadinotfound.jpg" alt=""></a>
                                                <div class="hover-content">
                                                </div>
                                            </div>
                                            <div style="text-align: center; margin-top: 20px;">
                                                <button type="button" onclick="window.history.back();" class="btn btn-secondary btn-group-lg main-button"><i class="fa fa-arrow-left"></i> Go Back</button>
                                            </div>
                                        }
                                    }

                                    <!-- third category first page -->
                                    @if (ViewBag.VehicleType == "Cars")
                                    {
                                        if (Model != null)
                                        {
                                            if (Model.Count() > 0)
                                            {
                                                foreach (var x in Model)
                                                {
                                                    <li class="active">
                                                        <div>
                                                            <div class="col-lg-12">
                                                                <div class="owl-carousel owl-listing">

                                                                    <div class="item">
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <div class="listing-item">
                                                                                    <div class="left-image">
                                                                                        <a href="#"><img src="~/Content/Assets/images/car2.jpg" alt=""></a>
                                                                                        <div class="hover-content">
                                                                                            <div class="main-white-button">
                                                                                                <a href="@Url.Action("BookVehicle", "Booking", new { VID = x.VehicleID })"><i class="fa fa-eye"></i> Book Now</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="right-content align-self-center">
                                                                                        <a href="#"><h4>@x.Title</h4></a>
                                                                                        <h6>by: @x.UserName</h6>
                                                                                        <span class="price">
                                                                                            <div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> @x.TotalPrice / included tax
                                                                                        </span>
                                                                                        <span class="details">Details:@x.Detail</span>
                                                                                        <span class="info">
                                                                                            <img src="~/Content/Assets/images/seats.png" alt=""> @x.VehicleCapacity<br>
                                                                                            <img src="~/Content/Assets/images/mileage.png" alt=""> @x.TotalMilage Kmpl/kg<br>
                                                                                            <img src="~/Content/Assets/images/seats.png" alt=""> @x.TotalSeats
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="left-image">
                                                <a href="#"><img src="~/Content/Assets/images/gadinotfound.jpg" alt=""></a>
                                                <div class="hover-content">
                                                </div>
                                            </div>
                                            <div style="text-align: center; margin-top: 20px;">
                                                <button type="button" onclick="window.history.back();" class="btn btn-secondary btn-group-lg main-button"><i class="fa fa-arrow-left"></i> Go Back</button>
                                            </div>
                                        }
                                    }

                                    <!-- 4th category 1st page -->
                                    @if (ViewBag.VehicleType == "Bus")
                                    {
                                        if (Model != null)
                                        {
                                            if (Model.Count() > 0)
                                            {
                                                foreach (var x in Model)
                                                {
                                                    <li class="active">
                                                        <div>
                                                            <div class="col-lg-12">
                                                                <div class="owl-carousel owl-listing">

                                                                    <div class="item">
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <div class="listing-item">
                                                                                    <div class="left-image">
                                                                                        <a href="#"><img src="~/Content/Assets/images/car2.jpg" alt=""></a>
                                                                                        <div class="hover-content">
                                                                                            <div class="main-white-button">
                                                                                                <a href="@Url.Action("BookVehicle", "Booking", new { VID = x.VehicleID })"><i class="fa fa-eye"></i> Book Now</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="right-content align-self-center">
                                                                                        <a href="#"><h4>@x.Title</h4></a>
                                                                                        <h6>by: @x.UserName</h6>
                                                                                        <span class="price">
                                                                                            <div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> @x.TotalPrice / included tax
                                                                                        </span>
                                                                                        <span class="details">Details:@x.Detail</span>
                                                                                        <span class="info">
                                                                                            <img src="~/Content/Assets/images/seats.png" alt=""> @x.VehicleCapacity<br>
                                                                                            <img src="~/Content/Assets/images/mileage.png" alt=""> @x.TotalMilage Kmpl/kg<br>
                                                                                            <img src="~/Content/Assets/images/seats.png" alt=""> @x.TotalSeats
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="left-image">
                                                <a href="#"><img src="~/Content/Assets/images/gadinotfound.jpg" alt=""></a>
                                                <div class="hover-content">
                                                </div>
                                            </div>
                                            <div style="text-align: center; margin-top: 20px;">
                                                <button type="button" onclick="window.history.back();" class="btn btn-secondary btn-group-lg main-button"><i class="fa fa-arrow-left"></i> Go Back</button>
                                            </div>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>