@model JourneyJoy.Models.LogInModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
    //var _ScheduleData = Model.ScheduleDetail as CRS.CLUB.APPLICATION.Models.ClubManagement.ScheduleManagementModel;

    //var yourDateFromDatabase = _EventData.EventDate;
}

<div class="split-container">
    <div class="gallery">
        <div>
            <img src="~/Content/assets/image/car/anime.png" alt="Bg_Image" class="img" />
            <div class="overlay-text">
                <p>Welcome To JJ</p>
            </div>
        </div>
        <div class="overlay-text-bottom">
            <p>&copy; @DateTime.Now.Year - JJ</p>
        </div>
    </div>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div class="NerdLog">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group-local">
                            <input type="text" class="form-control-local txt-color" id="LogInID" name="LogInID">
                            <label for="LogInId" class="form-label-local">LogInId</label>
                            @Html.ValidationMessageFor(x => x.LogInID, "", new { style = "color:#889b64;" })
                        </div>
                        <br />
                        <div class="form-group-local">
                            <input type="password" class="form-control-local txt-color" id="password" name="password">
                            <label for="password" class="form-label-local">Password</label>
                            @Html.ValidationMessageFor(x => x.password, "", new { style = "color:#889b64;" })
                        </div>
                        <br />
                        <button type="submit" class="bn5 alRight">Log In</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="Register-hide">
        @using (Html.BeginForm("Register", "Home", new { }, FormMethod.Post, new { }))
        {
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Name</label>
                <input type="text" class="form-control" id="CustomerName" aria-describedby="emailHelp" name="CustomerName">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="Password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            @Html.ValidationMessage("LogInError")
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
</div>

@section scripts{
    @*<script>
            $(document).ready(function () {
                $("#addDate").val("@yourDateFromDatabase");
            });
        </script>*@
    <script>
        $('.Register-hide').hide();
    </script>
}