@model JourneyJoy.Models.VehicleTypeModel

@{
    ViewBag.Title = "BookVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["UserName"] != null)
    {
        Model.UserName = Session["UserName"].ToString();
    }
    if (Session["Email"] != null)
    {
        Model.Email = Session["Email"].ToString();
    }
    if (Session["MobileNumber"] != null)
    {
        Model.Phonenumber = Session["MobileNumber"].ToString();
    }
    if (Session["Country"] != null)
    {
        Model.Country = Session["Country"].ToString();
    }
    if (Session["City"] != null)
    {
        Model.City = Session["City"].ToString();
    }
    if (Session["DriverLicenceNumber"] != null)
    {
        Model.DrivingLicence = Session["DriverLicenceNumber"].ToString();
    }


}
<style>
    .inmiddle {
        display: flex;
        align-content: center;
        justify-content: center;
    }
</style>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h6>Selected Vehicle</h6>
                    <h2>Selected Vehicle DescrtiptinS</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="category-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu inmiddle">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/search-icon-03.png" alt=""><h4>Vehicle Info</h4></span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/userprofile.png" alt=""><h4>User Info</h4></span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/payment.png" alt=""><h4>Pamyment</h4></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="~/Content/Assets/images/search-icon-03.png" alt=""><h4>Vehicle Info</h4></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @if (Model != null)
                                                    {
                                                        <div class="col-lg-12">
                                                            <div class="description">
                                                                <div class="row">
                                                                    <div class="col-lg-9">
                                                                        <h4>Description Vehicle - (@Model.Title)</h4>
                                                                        <p>@Model.Detail</p>
                                                                        <br>
                                                                        <p>
                                                                            <strong>Did you know?</strong>
                                                                            <br>You can get the best free HTML templates on Too CSS blog. Visit the blog pages and explore fresh and latest website templates.
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="left-image mb-4">
                                                                            @if (!string.IsNullOrEmpty(Model.ProfileImage))
                                                                            {
                                                                                <a href="#"><img src="@Model.ProfileImage" alt=""></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="#"><img src="~/Content/Assets/images/car1.jpg" alt=""></a>
                                                                            }
                                                                        </div>
                                                                        <span class="list-item">
                                                                            Millage: @Model.TotalMilage<br>Spacing: @Model.TotalSeats<br>Capcity: @Model.VehicleCapacity
                                                                            <br>Price: $ @Model.TotalPrice<
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="col-lg-12">
                                                        <div class="general-info">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h4>General Info / Rules</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                                                    <span class="list-item">
                                                                        * Listing should have all the proper documents before being checked in.
                                                                        <br>** Listing will be checked by our team members.
                                                                        <br>*** After being sold, it should imediately be removed from our site and properly monitored.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="top-icon">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="main-white-button">
                                                                <a href="#"><i class="fa fa-plus"></i> Next</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="~/Content/Assets/images/userprofile.png" alt=""><h4>User Info</h4></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="description">
                                                            @using (Html.BeginForm("ConfirmBooking", "Booking", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "contact" }))
                                                            {
                                                                @Html.Hidden("VID", Model.VehicleID)
                                                                @Html.Hidden("UID", Model.UserID)
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="file-upload">
                                                                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Upload Driving Licence</button>
                                                                            <div class="image-upload-wrap">
                                                                                <input class="file-upload-input" type='file' onchange="readURL(this);" name="file" accept="image/*" />
                                                                                <div class="drag-text">
                                                                                    <h3>Drag and drop a file or select add Image</h3>
                                                                                </div>
                                                                            </div>
                                                                            <div class="file-upload-content">
                                                                                <img class="file-upload-image" src="#" alt="your image" />
                                                                                <div class="image-title-wrap">
                                                                                    <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 align-self-center">
                                                                        @Html.AntiForgeryToken()
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    @*<input type="text" name="Username" id="Username" placeholder="Username" autocomplete="on" required>*@
                                                                                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name", autocomplete = "on", @required = "required" })
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    @*<input type="email" name="Email" id="Email" placeholder="Email" autocomplete="on" required>*@
                                                                                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", autocomplete = "on", @required = "required" })
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <fieldset>
                                                                                    @*<input type="text" name="Phonenumber" id="Phonenumber" placeholder="Your Mobilenumber" required="">*@
                                                                                    @Html.TextBoxFor(m => m.Phonenumber, new { placeholder = "Phonenumber", autocomplete = "on", @required = "required" })
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    @Html.TextBoxFor(m => m.Country, new { placeholder = "Countr", autocomplete = "on", @required = "required" })
                                                                                    @*<input type="text" name="Country" id="Country" placeholder="Your Country" required="">*@
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    @*<input type="text" name="City" id="City" placeholder="Your City" required="">*@
                                                                                    @Html.TextBoxFor(m => m.City, new { placeholder = "City", autocomplete = "on", @required = "required" })
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <fieldset>
                                                                                    @Html.TextBoxFor(m => m.DrivingLicence, new { placeholder = "DrivingLicence", autocomplete = "on", @required = "required" })
                                                                                    @*<input type="text" name="DrivingLicence" id="DrivingLicence" placeholder="Your DrivingLicence number" required="">*@
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <div class="main-white-button">
                                                                                    <button type="submit" class="main-button"><i class="fa fa-paper-plane"></i> Submit</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="~/Content/Assets/images/payment.png" alt=""><h4>Payment</h4></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="main-white-button">
                                                                        <a href="#"><i class="fa fa-plus"></i> Check Our Listings</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="description">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <h4>Description about cars</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="text-icon">
                                                                        <h4><img src="assets/images/listing-icon-heading.png" alt=""> Total Listings</h4>
                                                                    </div>
                                                                    <span class="list-item">This Week: 800 Listings &amp; 400 Sales<br>This Month: 1,600 Listings &amp; 1,200 Sales<br>This Year: 14,000 Listings &amp; 12,000 Sales</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="general-info">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h4>General Info. about cars</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                                                    <span class="list-item">
                                                                        * Listing should have all the proper documents before being checked in.
                                                                        <br>** Listing will be checked by our team members.
                                                                        <br>*** After being sold, it should imediately be removed from our site and properly monitored.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.image-upload-wrap').hide();

                    $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();

                    $('.image-title').html(input.files[0].name);
                };

                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
        }
        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });
    </script>
}